/*MAIN*/

body{
    margin:0px;
    padding:0px;
    height: 100vh;
    background-image: linear-gradient(to bottom left, rgb(156, 54, 252),rgb(37, 150, 238));
    font-size: 12px;

}
form{
    background-color: white;
    margin:auto;
    margin-top: 50px;
    border:2px solid black;
    max-width: 40vw;
    border-radius: 20px;
}
#head{
    background-color: black;
    color: white;
    text-align: center;
    margin: 0px;
    border:1px solid black;
    border-top-left-radius: 18px;
    border-top-right-radius: 18px;
    font-size: 13px;
}
.container{
    margin:70px;
    margin-bottom: 30px;
    margin-top: 30px;

}
div {
    border: 1px solid red;
}
span, p{
    font-weight: bold;
}
.margin-right{
    margin-right: 10%;
}



/*DISPLAY FLEX*/

.flex{
    display: flex;
    align-items: center;
    justify-content:space-between;
    
}


/*INPUTS*/

input{
    background-color: rgb(229, 229, 229);
    border-radius: 5px;
    margin: 0.25rem;
    padding: 0.5rem;
    border: hidden;
    
}
.input{
    color:grey;
    inline-size: auto;
}
.input>input{
    display: block
}



/*COMPANY ROW*/

#company, #company>input{
    width: 100%;
}
#company_label{
    margin-right: 5%;
}


/*EMAIL ROW*/

#email, #email>input{
    width: 100%;
}


/*PHONE ROW*/

#code{
    width: 15%;
}
#code>input{
    width: 90%;
}
#number{
    width: 65%;
}
#number>input{
    width: 100%;
}


/*QUESTION ROW*/

.radio_label{
    margin-right: 60px;
}


/*REGISTER ROW*/

#register{
    background-color: rgb(255, 75, 90);
    color: white;
    width: 25%;
}