/*MAIN*/

body{
    margin:0px;
    padding:0px;
    height: 100vh;
    background-image: linear-gradient(to bottom left, rgb(156, 54, 252),rgb(37, 150, 238));
    font-size: 12px;

}
form{
    background-color: white;
    margin:auto;
    margin-top: 50px;
    max-width: 40vw;
    border-radius: 10px;
}
#head{
    background-color: black;
    color: white;
    text-align: center;
    margin: 0px;
    margin-bottom: 40px;
    border:1px solid black;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    font-size: 13px;
}
.container{
    margin:70px;
    margin-bottom: 30px;
    margin-top: 30px;

}
div {
    /*border: 1px solid red;*/
}
span, p{
    font-weight: bold;
}



/*DISPLAY FLEX*/

.flex{
    display: flex;
    align-items: center;
    justify-content:space-between;  
}


/*INPUTS*/

input, #option{
    background-color: rgb(229, 229, 229);
    border-radius: 5px;
    margin: 0.25rem;
    padding: 0.9rem;
    border: hidden;   
}


/*NAME*/

.name{
    color:grey;
    width: 40%;
}
.name>input{
    display: block;
    width: 84%;
}
#name_label{
    margin-right: 6%;
}




/*COMPANY ROW*/

#company{
    width: 90%;
}
#company>input{
    width: 92%;
}
#company_label{
    margin-right: 5%;
}


/*EMAIL ROW*/

#email{
    width: 100%;
}
#email>input{
    width: 92%;
}
#email_label{
    margin-right: 9.5%;
}


/*PHONE ROW*/

#phone_label{
    margin-right: 6%;
}
#code{
    width: 15%;
    color:grey;
}
#code>input{
    width: 55%;
}
#number{
    width: 65%;
    color:grey;
}
#number>input{
    width: 90%;
}

/*SELECT OPTION*/
#toto{
    color:rgb(85, 85, 85);
    width: 85%;
    height: 45px;
}
.toto_flex{
    display: flex;
    align-items: center;
}
#toto_label{
    margin-right: 7%;
}


/*QUESTION ROW*/
.radio{
    margin-right: 60px;
}


/*REGISTER ROW*/

#register{
    background-color: rgb(255, 75, 90);
    color: white;
    width: 25%;
    font-weight: bold;
    margin-bottom: 40px;
}












