html{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

.card-text, .card-title{
    line-height: 2px;
    color: white;
}

.card-body{
    padding-bottom: 10px !important;
}

.container{
    margin-top: 2% !important;
}

.card-header, .card-footer{
    background-color: rgb(129, 199, 132) !important;
}